<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
<footer>
    <!-- Copyright Line - always include your business name & year -->
    <p>&copy; 2023 Sine's Root & Care. All rights reserved.</p>
<p>Foollow us:
    <a href="#">Instagram</a> |
    <a href="#">Facebook</a> |
    <a href="#">Twitter</a>

</p>
<p>Made with love in Nelson Mandela Bay, South Africa</p>

</footer>
</html>


